<!DOCTYPE html>
<html lang="{{language}}">
{{> head }}
<body>

    <img id="crowd2" src="/assets/img/crowd2.jpg" /> 
    
    {{> header}}
    <main>

        {{> hero}}

        <section class="container medium_container flex_row ">

            {{#each collections.posts}}
                <article id="{{this.id}}" class="block" author="{{author}}">
            
                <div>
                <a href=".{{this.path}}">
                    <span class="date">{{formatDate this.creationDate}}</span>
                    <h3>{{this.title}}</h3>
                    <div class="author">{{authorFromAddress this.author}}</div>
                </a>
                </div>
                </article>
            {{/each}}

        </section>
      
    </main>

    {{> footer }}
</body>
    {{> foot }} 
</html>
